html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 100px;
}

footer {
	position: relative;
	margin-top: -100px;
	height: 100px;
	clear: both;
	padding-top: 10px;
}

.text-vmiddle {
	vertical-align: middle;
}

.social-sharing.h1 {
	margin-top: 20px;
}
.alert + .social-sharing.h1 {
	margin-top: 0;
}

.share-btn {
	display: inline-block;
	height: 32px;
	width: 32px;
	margin: 0 2px;
	border-radius: 3px;
}

.share-btn.twitter {
	background: url(assets/twitter-share.png) center center no-repeat;
}

.share-btn.facebook {
	background: url(assets/facebook-share.png) center center no-repeat;
}

.btn-homepage {
	display: block;
	margin: 5px;
}

@media (min-width: 475px) {
	.btn-homepage {
		display: inline-block;
		width: auto;
	}
}
